{{>header}}

<div class="datacontainer">
  <h2>{{user.username}}</h2>
  <button onclick="location.href='/'">Inicio</button>
  <button onclick="location.href='/edit-user/{{userid}}'">Editar perfil</button>
  <button onclick="location.href='/all-resources/addresource/{{userid}}'">Subir recurso</button>
  <ul>
    {{#user.roles}}
    <li>{{.}}</li>
    {{/user.roles}}
  </ul>
  <div class="preview">
    <ul>
      {{#user.useruploads}}
      <a href="/all-resources/{{id}}"><img src="/all-resources/{{id}}/preview"></a>
      {{/user.useruploads}}
    </ul>
  </div>
</div>
{{>footer}}