<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tesseract</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logoTESSERACT.png" alt="tesseract">
            </a>
        </div>
        <nav class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/login" class="nav-link">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a href="/signup-user" class="nav-link">Registrarse</a>
                </li>
                {{#logged}}
                <li class="nav-item">

                        <a onclick="location.href='/profile'" >
                            <p class="usernavname">{{username}}</p>
                        </a>

                </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                    <button class="btn btn-default navbar-btn" type="submit">Log
                        Out</button>
                    <input type="hidden" name="_csrf" value="{{token}}" />
                </form></li>
                {{/logged}}
            </ul>
        </nav>
    </header>

    <doby>
        <div>